.radio{
    display:inline-block;
    margin-right:10px;
    padding-top: 3px;
    padding-bottom:4px;
}
.radio input[type="radio"] {
    width:16px;
    height:16px;
    margin-top:1px;
    margin-left: -20px;
}
.radio input[type="radio"]:focus {
    outline: none;
}
.radio label{
    font-size: 12px;
    padding-bottom:5px;
    padding-top:5px;
}